/* edit_room_styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 30px;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: #333333;
    margin: 0;
    font-size: 26px;
}

h3 {
    color: #666666;
    text-align: center;
}

.edit-room-form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 10px;
}

.input-field {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}
