<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room - My Chat App</title>
    <link rel="stylesheet" href="/static/create_room_styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Create Room</h1>
        </header>
        <div class="message">
            <h3>{{ message }}</h3>
        </div>
        <form method="post" action="">
            <label for="room_name">Room Name: </label>
            <input type="text" name="room_name" id="room_name" required>
            <br>
            <label for="members">Members: </label>
            <input type="text" name="members" id="members" placeholder="Comma separated usernames" required>
            <br>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>
